<!DOCTYPE html>
<html>
<head>
    <title>YTS Torrent</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <div id="vue-app">
            <h2>Movies</h2>
            <input type="text" v-model="pageId">
            <input type="button" class="btn btn-success" v-on:click="getMovies(pageId)" value="Fetch Movies">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <td><h3>SN</h3></td>
                        <td><h3>Title</h3></td>
                        <td><h3>Released on</h3></td>
                        <td><h3>Rating</h3></td>
                        <td><h3>Image</h3></td>
                        <td><h3>Download</h3></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="movie in movies">
                        <td><h4> {{ movies.indexOf(movie) + 1 }} </h4></td>
                        <td><h4>{{ movie.title }}</h4></td>
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.rating }}</td>
                        <td><img height="100px" v-bind:src="movie.imgSrc"></td>
                        <td>
                            <a v-for="l in movie.link" v-bind:href="l.link">
                                <input type="button" class="btn btn-success" v-bind:value="l.quality">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <script src="static/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="static/js/app.js"></script>
</body>
</html>